.orders-page{
padding:40px 20px;
min-height:70vh;
}

.orders-page h1{
margin-bottom:30px;
}

.order-card{
background:white;
padding:25px;
margin-bottom:20px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.order-header{
display:flex;
justify-content:space-between;
align-items:center;
margin-bottom:20px;
}

.status{
background:#22c55e;
color:white;
padding:8px 15px;
border-radius:20px;
font-size:.9rem;
}

.order-body p{
margin-bottom:10px;
}

.empty-orders{
text-align:center;
padding:100px 20px;
}

.empty-orders a{
display:inline-block;
margin-top:20px;
background:var(--color-primary);
color:white;
padding:15px 25px;
border-radius:10px;
text-decoration:none;
}

@media(max-width:768px){

.order-header{
flex-direction:column;
gap:15px;
align-items:flex-start;
}

}

.products-list{
margin-top:25px;
}

.ordered-product{
display:flex;
gap:15px;
align-items:center;
padding:15px 0;
border-bottom:1px solid #eee;
}

.ordered-product img{
width:80px;
height:80px;
object-fit:cover;
border-radius:12px;
}

.order-footer{
display:flex;
justify-content:space-between;
align-items:center;
margin-top:25px;
flex-wrap:wrap;
gap:20px;
}

.buy-again-btn{
background:var(--color-primary);
color:white;
border:none;
padding:12px 20px;
border-radius:10px;
cursor:pointer;
}

.buy-again-btn:hover{
opacity:.9;
}

.status-wrapper{
margin-top:15px;
}

.tracker{
display:flex;
align-items:center;
margin-top:15px;
}

.step{
width:35px;
height:35px;
border-radius:50%;
background:#ddd;
display:flex;
justify-content:center;
align-items:center;
font-weight:700;
}

.step.active{
background:#22c55e;
color:white;
}

.line{
height:4px;
flex:1;
background:#ddd;
}

.line.active{
background:#22c55e;
}

.tracker-labels{
display:flex;
justify-content:space-between;
font-size:.85rem;
margin-top:10px;
}